{% extends 'base.html' %}

{% block content %}

<h1>Add a playlist</h1>
<form method='POST'>
  {{ form.hidden_tag() }}
  <div class="form-row">
    {% for field in form if field.widget.input_type != "hidden" %}
    <div class="form-group col-md-6 col-lg-4">
      {{field.label (class_="h6")}}
      {{field (class_="form-control")}}
      {% for error in field.errors %}
      <div class="form-text text-warning">{{error}}</div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-lg btn-outline-primary">Submit</button>
  <a class="btn btn-lg btn-outline-warning" href="/playlists">Back</a>
</form>
{% endblock %}